<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyles1.css')}}">
</head>

<body>
    <h1>DATASET ACCURACY MODEL</h1>
    <p>
        PURPOSE : There are many models, which takes One data set as a input and performs classifications and algorithms to find it’s accuracy,But the utter goal of this project is to build a model which takes a user input data set ,most likely a CSV file and
        performs classifications and algorithms to find it’s accuracy,the key concept is that we can implement various datasets depending upon the user and find it’s accuracy.
    </p>
    <p>
        METHODLOGY: The model consists of a front end module,In which we can implement the data set and the data set is taken as a input and the back end find it’s accuracy with respect to various types of classifiers.In other words,It is a interactive framework
        to check accuracy of a data set.
    </p>
    <p>
        MACHINE LEARNING USING PYTHON: Machine learning is a type of artificial intelligence (AI) that provides computers with the ability to learn without being explicitly programmed. Machine learning focuses on the development of Computer Programs that can
        change when exposed to new data.
    </p>
    <p>
        CLASSIFICATION: Classification is the process of predicting the class of given data points. Classes are sometimes called as targets/ labels or categories. Classification predictive modeling is the task of approximating a mapping function (f) from input
        variables (X) to discrete output variables (y). A classifier is the algorithm itself – the rules used by machines to classify data. A classification model, on the other hand, is the end result of your classifier’s machine learning. The model is
        trained using the classifier, so that the model, ultimately, classifies your data.
    </p>
    <p>
        Django: Django is a web application framework written in Python. A framework is nothing more than a collection of modules that make development easier. They are grouped together, and allow you to create applications or websites from an existing source,
        instead of from scratch.
    </p>
    <p>Implented resources are Python, HTML, CSS, Machine learning, Flask</p>
    <P> Department of Computer Science, University of Madras, </P>
    <p>Under the guidance of Dr. S. Gopinathan</p>
    <P>M.C.A 1st year. Team Members: Kaviya R - 36821004, Deepesh R - 36821012, Kabilan E - 36821016, Kamaleshwaran M - 36821017, Pradeep N - 36821020.
    </p>
</body>

</html>

